<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.apple.myservice</string>
  <key>MachServices</key>
  <dict>
    <key>com.apple.myservice</key>
    <true/>
  </dict>
  <key>Program</key>
  <string>/Library/PrivilegedHelperTools/com.apple.myservice</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/PrivilegedHelperTools/com.apple.myservice</string>
  </array>
</dict>
</plist>
